<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online CV Login Page</title>
</head>
<body>
<div>
    <h1 th:text="'Welcome to Online Cv Login Page'"></h1>
</div>

<!--http://localhost:8080/login -->
<!--<div th:if="${loginDto.errorMessage}" class="alert alert-danger" th:text="${loginDto.errorMessage}+${loginDto.failedLoginAttempts} + ' login Attempts left.'"></div>-->
<div th:if="${loginDto.errorMessage}">
    <span th:if="${loginDto.status==null}"
    th:text="${loginDto.errorMessage}">
    </span>
    <span th:if="${loginDto.status !=null and loginDto.status.name() != 'BLOCKED'}"
    th:text="${loginDto.errorMessage + ' ' + (3 - loginDto.failedLoginAttempts) + ' login attempts left.'}">
    </span>
    <span th:if="${loginDto.status !=null and loginDto.status.name()=='BLOCKED'}"
    th:text="'Your Account has been Blocked due to 3 failed login attempts.'">

    </span>
</div>

<div class="text-center mt-5">
    <form th:action="@{/login}" method="post">
        <label th:text="'Username'"></label>
        <input type="text" name="username" required>
        <label th:text="'Password'"></label>
        <input type="password" name="password" required>
    <button th:text="'login'"></button>
    </form>
</div>
<div class="text-center mt-5">
    <a th:href="@{register}" class="btn btn-primary" th:text="'Register'"></a>
</div>
</body>
</html>